
email_forwarding_validation_by_domain = {
    "some.domain" = "forward-email-site-verification=YOUR_TOKEN_HERE"
    "other.domain" = "forward-email-site-verification=YOUR_TOKEN_HERE"
    "athird.domain" = "forward-email-site-verification=YOUR_TOKEN_HERE"
}

# TODO: Add Google/Bing site verification tokens
